.jumbotron {
  background-image: url("/images/music_header.jpg");

}

h1.song-heading {
  color: black;
}

.media-object {
  width: 70px;
  height: 70px;
}

.errorMessages {
  color: red;
  font-size: 1.5em;
}

.errorDialog {
  width: 30%;
  margin: 0 auto;
}

.form {
  background-color: darkgrey;
  color: white;
  padding: 8px;

}

.main {
  margin-top: 50px;
}