<div class = "container">

<div class = "jumbotron">

<h1 class="song-heading">Please log in</h1>

</div>


<div class="row">
<div class="col-md-4"></div>

<div class="col-md-4">

<form action="/login" method="post">

<div class="form-group">
    <label for="email">Email</label>
    <input type="email" id="email" class="form-control" name="email" required>
</div>

<div class="form-group">
    <label for="password">Password</label>
    <input type="password" id="password" class="form-control" name="password" required>
</div>

<div class="form-group">
    <label><input type="checkbox" name="remember_me" value="true"> Remember Me</label>
</div>


    <button class="btn-primary" type="submit">Log In</button>

</form>

</div>
<div class="col-md-4"></div>
</div> <!-- container -->