<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="container">
                
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/"><img src="images/music_icon.svg" height=30 width=41></a>
                </div>

                <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="/"><span class="glyphicon glyphicon-home"
                         aria-hidden="true"></span> Home</a></li>
                    <li><a href="/songs"><span class="glyphicon glyphicon-headphones" aria-hidden="true"></span> Songs</a></li>
                    
        
                    
                </ul>
                    
                 
                
                    
                    
                </div>         
                
            </div>
        </nav> 
<div class="container main">


<div class="row">
<div class="col-md-4"></div>

<div class="col-md-4">
<% if @error %>
  <p class="errorMessages"><%= @error %></p>
<% end %>

<h3>Please enter your login information below </h3>

<form class="form" method="post" action="/login">
  
<div class="form-group">
    <label for="email">Enter your email</label>
    <input type="email" id="email" class="form-control" name="email" required>
</div>

<div class="form-group">
    <label for="password">Enter a password</label>
    <input type="password" id="password" class="form-control" name="password" required>
</div>


  <input type="submit" value="Submit" >
  
</form>

<h3>Register as a new user </h3>

<form class="form" method="post" action="/register">
  
<div class="form-group">
    <label for="email">Enter your email</label>
    <input type="email" id="email" class="form-control" name="email" required>
</div>

<div class="form-group">
    <label for="password">Enter a password</label>
    <input type="password" id="password" class="form-control" name="password" required>
</div>


  <input type="submit" value="Submit" >
  
</form>


</div>




<div class="col-md-4"></div>
</div>
  




</div>