
<div class = "container">

<div class = "jumbotron">

<h1 class="song-heading">List of songs</h1>

</div>



<% @songs.each_with_index do |song, i| i+=1 %>



<div class="media">
  <div class="media-left">
    <a href="#">
      <img class="media-object" src="/images/X_cover.png" alt="...">
    </a>
  </div>
  <div class="media-body">
    <h4 class="media-heading"><%= i %>- <%= song.name %></h4>
    by: <%= song.artist %>
    likes: <%= song.likes %>
  </div>
</div>
<% end %>
<hr>
<p><button type="button" id="btn_add" class="btn btn-success">Add a song</button></p>



</div>

